supervised and unsupervised learning
supervised learning  basically uses labeled data machine learning algorithm is trained on a labelled data each example  the algorithm knows what the correct output is and uses this knowledge to like predict new examples
classification - output is a discrete label like yes/no or like true not true
models - linearclassifiers,decision tree, svms,random forests

regression - output is a continous valuelike price models- linear regression and logistic regression
unsupervised  learning is where the data is not given any label the algorithms discover hidden patterns data without the need of human intervention

clustering- algorithm groups similar experiences together eg customer segmentation like how a business may group customers based on age
association - where the algorithm looks for relationships within the data like which items are bought together
dimensional reduction- reduces the number of variables in the data but retaining much info as possible
dont make predictions they only group data together 
mostly used in data that is not labelled  can be used to find patterns that cant be seen



semi supervised learning-has dataset that has both labelled and unlabelled data eg like data of images where a few are labelled mostly used in medical data

This dataset contains 2 columns V1 Contains Spam which indicates  that the email is classified spam  and ham denotes the email is legitimate  ,V2  contains the actual content  of the email message. This problem is a classification problem

In [1]:
import pandas as pd 
import numpy as np

In [2]:
data = pd.read_csv(r"C:\Users\Nyamasi\Downloads\sms-spam-classifier-main\sms-spam-classifier-main\spam.csv" ,   encoding="ISO-8859-1")

In [3]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
data.shape

(5572, 5)

In [5]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

 data cleaning
#EDA
#Feature engineering
#model bulding
#evaluation 
 improvement
#deploy

# data cleaning

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [7]:
data.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

# How to deal with null values
1.Deletion
when there are extremely large amounts of missing data the columns are unlikely to contribute to analysis 
if the missing data is low and you have a large dataset
when the missing data is in a column that is not so critical 

2.Imputation
simple imputation-is a method used to fill the missing values in dataset using one feature and is used when the propotion of missing data is low uses (mean ,median and mode-categorical features)
iterative imputation-assuming  the feature with missing values is correlated with another feature you could use the second feature to impute the missing values sklean trains a regression model with the features that do not have missing value and uses the one with missing values as target  and makes predictions  by using A and B  as trained model

In [8]:
data.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [9]:
#drop the columns
data.drop(columns =['Unnamed: 2','Unnamed: 3', 'Unnamed: 4'], inplace= True)

In [10]:
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [11]:
data.rename(columns={'v1':'target','v2':'text'}, inplace = True)

In [12]:
data

     target                                               text
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567   spam  This is the 2nd time we have tried 2 contact u...
5568    ham              Will Ì_ b going to esplanade fr home?
5569    ham  Pity, * was in mood for that. So...any other s...
5570    ham  The guy did some bitching but I acted like i'd...
5571    ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [13]:
data.duplicated().sum()

403

In [14]:
data =data.drop_duplicates(keep='first')

# EDA

In [15]:
data.head()

  target                                               text
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [16]:
data['target'].value_counts()

ham     4516
spam     653
Name: target, dtype: int64

# text preprocessing

In [17]:
#Most machine learning algorithms (such as logistic regression, support vector machines, and neural networks) require numerical input.
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['target']=le.fit_transform(data['target'])

C:\Users\Nyamasi\AppData\Local\Temp\ipykernel_24304\2523840741.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['target']=le.fit_transform(data['target'])

In [18]:
data

      target                                               text
0          0  Go until jurong point, crazy.. Available only ...
1          0                      Ok lar... Joking wif u oni...
2          1  Free entry in 2 a wkly comp to win FA Cup fina...
3          0  U dun say so early hor... U c already then say...
4          0  Nah I don't think he goes to usf, he lives aro...
...      ...                                                ...
5567       1  This is the 2nd time we have tried 2 contact u...
5568       0              Will Ì_ b going to esplanade fr home?
5569       0  Pity, * was in mood for that. So...any other s...
5570       0  The guy did some bitching but I acted like i'd...
5571       0                         Rofl. Its true to its name

[5169 rows x 2 columns]

In [19]:

X=data['text']
y= data['target']

In [20]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: text, Length: 5169, dtype: object

In [21]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size= 0.2,random_state= 3)

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer
feature_extraction = TfidfVectorizer(min_df=1, stop_words='english', lowercase='True')
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

y_train_features = y_train.astype('int')
y_test_features = y_test.astype('int')

In [23]:
print(X_train_features)

  (0, 2697)	0.7205755344386542
  (0, 6409)	0.5950532917415522
  (0, 1825)	0.35592482233751443
  (1, 5438)	0.27399320458839144
  (1, 4583)	0.27399320458839144
  (1, 4438)	0.22516921191243092
  (1, 5036)	0.27399320458839144
  (1, 2274)	0.27399320458839144
  (1, 2920)	0.23390504161994488
  (1, 3610)	0.27399320458839144
  (1, 4984)	0.19732502227978832
  (1, 4180)	0.23390504161994488
  (1, 7137)	0.24133495616477563
  (1, 6940)	0.27399320458839144
  (1, 203)	0.27399320458839144
  (1, 6941)	0.27399320458839144
  (1, 453)	0.25698446420786897
  (1, 4333)	0.15929709793058355
  (1, 1885)	0.22516921191243092
  (2, 953)	0.26160275768603725
  (2, 4856)	0.26160275768603725
  (2, 5786)	0.26160275768603725
  (2, 2459)	0.22436535516409714
  (2, 4960)	0.26160275768603725
  (2, 5976)	0.1902832473629628
  :	:
  (4132, 6862)	0.11085392369947865
  (4132, 5612)	0.14854309693836068
  (4132, 3865)	0.16898098428277844
  (4133, 6457)	0.6154177820886059
  (4133, 5320)	0.5530764956488926
  (4133, 2311)	0.4238274869992768
  (4133, 3771)	0.36842584696755415
  (4134, 4632)	0.2852228597337175
  (4134, 3508)	0.2852228597337175
  (4134, 5982)	0.2623257437582278
  (4134, 3585)	0.2718289055133927
  (4134, 6095)	0.2623257437582278
  (4134, 4980)	0.24893178953790301
  (4134, 1608)	0.22890896872799293
  (4134, 5751)	0.21866344863800888
  (4134, 6383)	0.24893178953790301
  (4134, 3967)	0.23205740285833368
  (4134, 2297)	0.23205740285833368
  (4134, 6596)	0.2355378353175782
  (4134, 5998)	0.2549545188338234
  (4134, 7181)	0.20454345297905668
  (4134, 1923)	0.19363439583175862
  (4134, 1571)	0.18164633700356694
  (4134, 4068)	0.20454345297905668
  (4134, 3038)	0.13885722635220862

In [24]:
print(X_test_features)

  (0, 6284)	0.43430701953285156
  (0, 4357)	0.4264504812056483
  (0, 3999)	0.4541039150126108
  (0, 3685)	0.21875536593912145
  (0, 3008)	0.3755569393427584
  (0, 796)	0.48415917776958733
  (1, 7050)	0.41978523395044104
  (1, 5656)	0.35499712111138654
  (1, 2369)	0.5617364019285492
  (1, 1608)	0.47304204171951914
  (1, 1254)	0.398046282326562
  (2, 7221)	0.7923997102028898
  (2, 3640)	0.6100022125126892
  (3, 7292)	0.4854329061592562
  (3, 6879)	0.504266116821645
  (3, 4574)	0.45819212318042857
  (3, 4009)	0.3321387620897908
  (3, 2080)	0.43567694225913534
  (4, 7218)	0.2292199492753507
  (4, 5689)	0.23694703770184997
  (4, 5540)	0.5218991333605264
  (4, 4823)	0.5112231722851113
  (4, 2508)	0.597985350067042
  (5, 3025)	0.5652583430208418
  (5, 1132)	0.8249139383264974
  :	:
  (1031, 5191)	0.3701308998039874
  (1031, 4565)	0.6439113578053595
  (1031, 4068)	0.3041309124908908
  (1031, 510)	0.42409124971092943
  (1032, 7339)	0.2632164916232764
  (1032, 7271)	0.269584829223756
  (1032, 6987)	0.25783213890193124
  (1032, 6919)	0.17642080640756436
  (1032, 6764)	0.16357649120381332
  (1032, 6298)	0.24905393871920117
  (1032, 5563)	0.2362096235154502
  (1032, 4406)	0.2773790445273517
  (1032, 3848)	0.25783213890193124
  (1032, 3538)	0.24905393871920117
  (1032, 2720)	0.23900544751939748
  (1032, 2099)	0.17318001901981067
  (1032, 1899)	0.18778753530769227
  (1032, 1660)	0.19874332825316712
  (1032, 1071)	0.21945854189397707
  (1032, 674)	0.24537378511987706
  (1032, 394)	0.24905393871920117
  (1032, 316)	0.2016158353905777
  (1032, 302)	0.1936225930341707
  (1033, 3198)	0.7337664084922214
  (1033, 1272)	0.6794018382139002

In [25]:
print(y_train_features)

4443    0
982     1
3822    0
3924    0
4927    0
       ..
806     0
990     0
1723    0
3519    0
1745    0
Name: target, Length: 4135, dtype: int32

In [26]:
print(y_test_features)

4994    0
4292    0
4128    0
4429    0
660     0
       ..
4003    0
1107    0
5413    0
1413    1
4998    0
Name: target, Length: 1034, dtype: int32

# model  bulding

classification problem- models
logistic regression-creates a straight line dividing the features works best with no overlapping
 decision trees
    random forest- works when there is moderate ovelapping-takes to much time to train a model
    xgboost
    KNN - works  best where the is aloot of overlapping between features
    svm

In [27]:
from sklearn.linear_model import LogisticRegression
model =LogisticRegression()

In [28]:
model.fit(X_train_features,y_train_features)

LogisticRegression()

In [29]:
predictions_on_training = model.predict(X_train_features)
predictions_on_test = model.predict(X_test_features)

# metrics

In [30]:
from sklearn.metrics import accuracy_score
accuracy_on_training= accuracy_score(y_train_features,predictions_on_training)

In [31]:
print('accuracy on training data ;',accuracy_on_training)

accuracy on training data ; 0.962273276904474

In [32]:
accuracy_on_test= accuracy_score(y_test_features,predictions_on_test)
print('accuracy on test data ;',accuracy_on_test)

accuracy on test data ; 0.960348162475822

In [33]:
mail =["Sunshine Quiz Wkly Q! Win a top Sony DVD player if u know which country the Algarve is in? Txt ansr to 82277. å£1.50 SP:Tyrone"]
data_features  = feature_extraction.transform(mail)
prediction = model.predict(data_features)
print(prediction)
if prediction[0]==0:
    print('notspam')
else:
    print('spam')

[1]
spam

In [34]:
import pickle
pickle.dump(feature_extraction,open('vectorizer.pkl','wb'))

pickle.dump(model,open('model.pkl','wb'))